<!DOCTYPE html>
<html>

<style>
h1 {text-align:center;}
p {text-align: center;}
form {text-align: center;}
h2 {text-align:center;}
h3 {text-align:center;}
ul {text-align:center;}
</style>

<body style="background-color:rgb(177, 125, 71);">

<h1>Welcome Content Editor</h1>
<p>
    Go edit some content <br>
</p>

<h2>Add Video</h2>
<form method="POST" action="http://localhost:10000/addvideo">
    <label for="txt_title">Video Title:</label>
    <input type='text' name="name"></input><br>

    <label for="txt_genre">Video Genre:</label>
    <input type='text' name="genre"></input><br>

    <label for="txt_url">Video URL:</label>
    <input type='text' name="url"></input><br>

    <input type="Submit" value="Add Video"> <br> <br>
</form>

<form method="POST" action="http://localhost:10000/searchtitle">
    <input type="hidden" name="current_role" value="editor">
    <label for="txt_title">Search Video Title:</label>
    <input type='text' name="name"></input>
    <input type="Submit" value="Search Video">

    <!-- Search bar -->
    <label for="txt_title">Search Video Genre:</label>
    <input type='text' name="genre"></input>
    <input type="Submit" value="Search Genre" formaction="http://localhost:10000/searchgenre"> 
</form>

<h3>Videos</h3>
<ul>
    <% titles.forEach(title => { %>
        
        <form method="POST" action="http://localhost:10000/playvideo">
            <input type="hidden" name="name" value="<%= title %>">
            <input type="hidden" name="current_role" value="editor">
            <button type="submit"><%= title %></button>
            <button type="submit" formaction="http://localhost:10000/deletevideo">Delete</button>
        </form>
        
    <% }); %>
</ul>

<form method="POST" action="http://localhost:10000/">
    <input type="Submit" value="Log Out">
</form>


</body>
</html>