<!DOCTYPE html>
<html>
    <style>
        h2 {text-align:center;}
        form {text-align: center;}
        p {text-align: center;}
    </style>

    <body style="background-color:rgb(177, 125, 71);">

    <h2>Search results:</h2><br>

    <% titles.forEach(title => { %>
        
        <form method="POST" action="http://localhost:10000/playvideo">
            <input type="hidden" name="name" value="<%= title %>">
            <input type="hidden" name="current_role" value="viewer">
            <button type="submit"><%= title %></button>
        </form>
        
    <% }); %>

    <form method="POST" action="http://localhost:10000/home">
        <input type="Submit" value="Back">
        <input type="hidden" name="current_role" value=<%= role %>>
    </form>
    

</html>