<!DOCTYPE html>
<html>

<style>
h1 {text-align:center;}
p {text-align: center;}
form {text-align: center;}
</style>

<body style="background-color:rgb(177, 125, 71);">

<h1>Welcome to <span>🅱️</span>ine</h1>
<p>
    We have video <br>
</p>

<form method="POST" action="http://localhost:10000/addvideo">
    <label for="txt_uid">Video Title:</label>
    <input type='text' name="name"></input>
    <label for="txt_uid">Video URL:</label>
    <input type='text' name="url"></input>
    <input type="Submit" value="Add Video"> <br>
</form>

<form method="POST" action="http://localhost:10000/playvideo">
    <label for="txt_uid">Search Video Title:</label>
    <input type='text' name="name"></input>
    <input type="Submit" value="Play Video">
</form>

<form method="POST" action="http://localhost:10000/">
    <input type="Submit" value="Log Out">
</form>



</body>
</html>