<!DOCTYPE html>
<html>

<style>
h1 {text-align:center;}
form {text-align: center;}
p {text-align: center;}
</style>

<body style="background-color:rgb(177, 125, 71);">

<h1>Bine Login</h1>

<form method="POST" action="http://localhost:10000/signin">
    <label for="txt_uid">Username:</label><br>
    <input type='text' pattern="[a-z0-9!@#$%^&*\-]*_[a-z0-9!@#$%^&*\-_]*" id="txt_uid" name="uid"></input><br>
    
    <label for="txt_pwd">Password:</label><br>
    <input type='password' id="txt_pwd" name="pwd"></input><br>
    
    <input type="Submit" value="Sign in">
    <input type="Submit" value="Sign up" formaction="http://localhost:10000/signup">
</form>

<p><%= messageCenter %></p>

</body>
</html>
